<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36366076498-u5c7gsn53phbfchhgu3qmmanlac43avc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36366076498-u5c7gsn53phbfchhgu3qmmanlac43avc</string>
	<key>API_KEY</key>
	<string>AIzaSyBzqGBg4QSKTeqisoWs0uiXWLGUyPbyUAs</string>
	<key>GCM_SENDER_ID</key>
	<string>36366076498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.takumiot.FoodWasteFighter</string>
	<key>PROJECT_ID</key>
	<string>foodwastefighter-82031</string>
	<key>STORAGE_BUCKET</key>
	<string>foodwastefighter-82031.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36366076498:ios:e7e5f14bfb121798f0ad8b</string>
</dict>
</plist>